@import 'tailwindcss';

@theme {
  --font-manrope: var(--font-manrope);
  --font-aeonik: Aeonik, sans-serif;

  --text-hero-title: clamp(2.5rem, 5vw, 4.5rem);
  --text-hero-title--line-height: 1;
  --text-hero-paragraph: clamp(1.25rem, 2vw, 1.875rem);
  --text-hero-paragraph--line-height: 1.2;

  --color-primary: #100e14;
}

@keyframes scroll-up {
  0% {
    transform: translateY(0%);
  }
  100% {
    transform: translateY(-50%);
  }
}

@keyframes scroll-down {
  0% {
    transform: translateY(0%);
  }
  100% {
    transform: translateY(50%);
  }
}

.scroll-up {
  animation: scroll-up 40s linear infinite;
}

.scroll-down {
  animation: scroll-down 40s linear infinite;
}

.mask-gradient {
  background: linear-gradient(to bottom, black 0%, transparent 20%, transparent 80%, black 100%);
}

.scroll-column {
  will-change: transform;
}

.fancy-hover {
  transition: all 0.4s ease;
  background: white;
  position: relative;
  overflow: hidden;
  z-index: 1;
}

.fancy-hover::before {
  content: '';
  position: absolute;
  inset: 0;
  z-index: -1;
  background: linear-gradient(135deg, #fff, #f66a99);
  opacity: 0;
  transition: opacity 0.4s ease;
}

.fancy-hover:hover::before {
  opacity: 1;
}

.fancy-hover:hover {
  color: #000;
  box-shadow: 0 0 20px 5px rgba(246, 106, 153, 0.5);
}

/* 🔥 Animación al hacer clic */
.fancy-hover:active {
  animation: click-bounce 0.2s ease-in-out;
}

@keyframes click-bounce {
  0% {
    transform: scale(1);
  }
  50% {
    transform: scale(0.94);
  }
  100% {
    transform: scale(1);
  }
}
