---
// Bauti was here
type Props = {
  href: string
}
const { href } = Astro.props
---

<a
  href={href}
  target="_blank"
  class="fancy-hover font-manrope inline-block rounded-full bg-white px-10 py-5 text-center font-medium text-black"
>
  <slot />
</a>
