---
// Bauti was here :)
type Props = {
  href: string
}
const { href } = Astro.props
---

<style>
  .fancy-hover {
    --color: linear-gradient(135deg, #fff, #f66a99);
    position: relative;
    overflow: hidden;
    transition: color 0.5s;
    z-index: 1;
  }

  .fancy-hover::before {
    content: '';
    position: absolute;
    z-index: -1;
    background: var(--color);
    height: 170px;
    width: 300px;
    border-radius: 50%;
    top: 100%;
    left: 100%;
    transition: all 0.5s ease-in-out;
  }

  .fancy-hover:hover {
    color: #000;
    box-shadow: 0 7px 29px rgba(220, 197, 204, 0.5);
  }

  .fancy-hover:hover::before {
    top: -30px;
    left: -30px;
  }

  .fancy-hover:active::before {
    background: #3a0ca3;
    transition: background 0s;
  }
</style>
<a
  href={href}
  target="_blank"
  class="fancy-hover font-manrope inline-block rounded-full bg-white px-10 py-5 text-center font-medium text-black"
>
  <slot />
</a>
